[Unit]
Description=raspi-dash: some stats
Wants=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/raspi-dash
TimeoutSec=60s
EnvironmentFile=/etc/default/raspi-dash

[Install]
WantedBy=multi-user.target