<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
        <link rel="stylesheet" href="/assets/styles.css"> 

        <script type="text/javascript">
            window.onload = function() {
                var plots = document.querySelectorAll("img.plot")
                var as = document.querySelectorAll("a.plot")

                for (const p of plots) {
                    const src = localStorage.getItem(p.id)
                    if (src) {
                        p.src = src
                    }
                }
                
                for (const a of as) {
                    console.log(a)
                    a.onclick = function() {
                        range = a.id
                        for (const p of plots) {
                            [url, _] = p.src.split("?", 2)
                            localStorage.setItem(p.id, url + "?range=" + range)
                        }
                        
                        location.reload()
                        return false;
                    }
                }
                
            }
        </script>
    </head>

    <p><b>Load Avg:</b> {{ .LoadAvg1 }} / {{ .LoadAvg5 }} / {{ .LoadAvg15 }}</p>
    <p><b>CPU Temp:</b> {{ .CPUTemp }} °C</p>
    <br>
    {{ range .RaidStats }}
    <p><b>RAID Stats for {{ .Name }}</b></p>
    <p><b>Array State:</b> {{ .ActivityState }}</p>
    <p><b>Disks:</b> {{ .DisksTotal }} total ({{ .DisksActive }} active / {{ .DisksSpare }} spare / {{ .DisksDown }} down / {{ .DisksFailed }} failed)</p>
    <br>
    <hr>
    <br>
    {{ end }}

    {{ range $repoName,$backups := .Backups }}
        <h3>{{ $repoName }}</h3>
        {{ if $backups }}
            <ul>
            {{ range $backups }}
                {{ if .Name }}
                <li>{{ .Name }} ({{ .Created }}, {{ fmtDuration .Age }})</li>
                {{ else }}
                <li>loading...</li>
                {{ end }}
            {{ end }}
            </ul>
        {{ else }}
            <p>loading...</p>
        {{ end }}
    {{ end }}
    
    <a href="javascript:void(0);" id="60" class="plot">1m</a>
    <a href="javascript:void(0);" id="300" class="plot">5m</a>
    <a href="javascript:void(0);" id="900" class="plot">15m</a>
    <a href="javascript:void(0);" id="1800" class="plot">30m</a>
    <a href="javascript:void(0);" id="-1" class="plot">All</a>
    

    <div class="flex-container">
        {{ range $name, $src := .Plots }}
            <img id="plot-{{ $name }}" class="plot" alt="{{ $name }}" src="" />
            
            <br>
            <br>
        {{ end }}
    </div>

    <!-- <table>
        <tr>
            <td><img id="plot-cpuTemp" class="plot" alt="cpuTemp" src="{{ .Plots.cpuTemp }}" /></td>
            <td><img id="plot-diskUsage" class="plot" alt="diskUsage" src="{{ .Plots.diskUsage }}" /></td>
        </tr>
        <tr>
            <td><img id="plot-loadAvg" class="plot" alt="loadAvg" src="{{ .Plots.loadAvg }}" /></td>
            <td><img id="plot-memoryUsage" class="plot" alt="memoryUsage" src="{{ .Plots.memoryUsage }}" /></td>
        </tr>
        <tr>
            <td><img id="plot-network" class="plot" alt="network" src="{{ .Plots.network }}" /></td>
            <td></td>
        </tr>
    </table> -->
</html>